
// theme

$theme--option--dark:  #1a1a1a;
$theme--option--light: #ffffff;
$theme--option--A: #264653;
$theme--option--A-bg: rgba(38, 70, 83, 0.5);
$theme--option--B: #2A9D8F;
$theme--option--C: #E9C46A;
$theme--option--D: #F4A261;
$theme--option--E: #E76F51;
$theme--transparent: transparent;

 